.time-container {
  text-align: center;
}
.time-inner-container {
  display: inline-block;
}
.time-digits {
  font-size: 10em;
}
.time-text {
  display: flex;
  justify-content: space-between;
  color: grey;
  font-size: 2em;
  padding-left: 60px;
}
.time-button {
  text-align-last: center;
  margin-top: 50px;
}
.button-container {
  font-size: 2Oem;
}
